@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap");

.about-page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond";
  position: relative;
  overflow: hidden;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#mouse-movement {
  background-color: black;
  height: 500px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

.container-about .about-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: none;
}

.container-about {
  .hero {
    display: flex;
    height: 100vh;

    .copy {
      display: grid;
      align-content: center;
      padding: 20px 20px;
      height: 100%;

      p {
        font-size: 6vmin;
        font-weight: 300;
      }
    }

    .image-wrapper {
      height: 100vh;
      width: 100%;
      padding-left: 40px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .section-0 {
    margin-top: 20vh;
    text-align: center;

    p {
      font-size: 5vw;
    }

    cite {
      font-size: 2vw;
    }
  }

  .section-1 {
    height: 100vh;
    display: flex;
    place-content: center;

    .image-mask {
      transform: scale(0.75);
      width: 55vw;
      height: 80vh;
      background-size: cover;
      background-position: center bottom;
      object-fit: cover;
    }
  }
}

.introduction {
  margin-top: 20vh;
  font-size: 37px;
  padding-left: 25px;
  padding-right: 50px;
}
