.line {
  display: flex;
  justify-content: space-between;
}

.word {
  color: black;
  font-size: 10rem;
  margin: 3rem;
  text-transform: uppercase;
  transition: opacity 250ms ease;
}

a {
  text-decoration: none;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}
