$color: rgb(255, 245, 238);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond";
}

.main {
  margin: 0;
  padding: 0;
  background: white;
}

.loader {
  width: 100vw;
  height: 100vh;
}

.loader-clip {
  position: absolute;
  width: 100vw;
  height: 33.3vh;
  overflow: clip;
  z-index: 10000;
}

.clip-top,
.clip-bottom {
  position: absolute;
  width: 100vw;
  height: 33.3vh;
  clip-path: inset(0 0 0 0);
  background: $color;
}

.clip-top {
  top: 0;
}

.clip-bottom {
  bottom: 0;
}

.clip-center {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 33.3vh;
  top: 33.3vh;
}

.marquee {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200vw;
  color: black;
  font-size: 16vw;
}

.marquee-container {
  width: 100%;
  padding-top: 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
