* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ebe2d5;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  display: flex;
}

.nav-items {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-items:first-child {
  margin-right: auto;
}

.nav-items:last-child {
  margin-left: auto;
}

.nav-items .nav-item {
  padding: 2em;
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: black;
}

.nav-item a#logo {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2em;
}

.cols {
  width: 100%;
  display: flex;
}

.col {
  width: 50%;
  height: 100vh;
}

.col-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 12px 20px rgba(255, 255, 255, 0.23);
  color: seashell;
  text-transform: uppercase;
  border: none;
  padding: 3em 2em 2em 2em;
}

.col-right .header {
  position: absolute;
}

.col-left {
  position: relative;
  left: 0;
  background: seashell;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 2em 2em 2em;
}

.copy {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-family: "Rubik", sans-serif;
}

.copy > * {
  position: relative;
}

.col-left .header {
  text-transform: uppercase;
  font-size: 24px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.2em 0.4em;
  margin: 1em 0;
}

.sub-header {
  text-transform: uppercase;
  text-align: center;
}

.img-wrapper {
  width: 300px;
  height: 300px;
  background: #ebe2d5;
  margin: 2em 0;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  font-size: 16px;
  text-align: center;
  color: rgb(60, 60, 60);
  margin-bottom: 4em;
}

.footer {
  display: flex;
}

.footer-items {
  padding: 0 1em;
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  body {
    height: 100%;
    overflow: auto;
  }

  .hero-img {
    top: 100vh;
  }

  .cols {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }

  .nav-items:first-child,
  .nav-items:last-child {
    display: none;
  }
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.loader-text {
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-align: center;
  color: black;
  font-size: 0.8333333333rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.loader-bar {
  margin-top: 18px;
  width: 95%;
  background-color: #ccc;
  height: 1px;
}

.loader-progress {
  height: 100%;
  width: 100%;
  display: block;
  background-color: black;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
